<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414528064131-b5pp5vejrd50384ojoavrl58atvgco4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414528064131-b5pp5vejrd50384ojoavrl58atvgco4k</string>
	<key>API_KEY</key>
	<string>AIzaSyBFub6i2rRZQptNsVAGz-TO-Cf7kanPuw0</string>
	<key>GCM_SENDER_ID</key>
	<string>414528064131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohantyagi.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-aeb74</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-aeb74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414528064131:ios:3b1d9fcbe3bcf6005ea9b6</string>
</dict>
</plist>